{% extends 'base.html.twig' %}

{% block title %}Bienvenue !
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			z-index: 1;
			margin-top: -100px;
			width: 100%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}


		html {
			font-size: 70.5%;
		}

		body {
			background-image: linear-gradient(219deg, rgba(246, 246, 246, 0.02) 0%, rgba(246, 246, 246, 0.02) 20%,rgba(225, 225, 225, 0.02) 20%, rgba(225, 225, 225, 0.02) 40%,rgba(136, 136, 136, 0.02) 40%, rgba(136, 136, 136, 0.02) 60%,rgba(216, 216, 216, 0.02) 60%, rgba(216, 216, 216, 0.02) 80%,rgba(35, 35, 35, 0.02) 80%, rgba(35, 35, 35, 0.02) 100%), linear-gradient(299deg, rgba(213, 213, 213, 0.02) 0%, rgba(213, 213, 213, 0.02) 20%, rgba(150, 150, 150, 0.02) 20%, rgba(150, 150, 150, 0.02) 40%, rgba(161, 161, 161, 0.02) 40%, rgba(161, 161, 161, 0.02) 60%, rgba(186, 186, 186, 0.02) 60%, rgba(186, 186, 186, 0.02) 80%, rgba(28, 28, 28, 0.02) 80%, rgba(28, 28, 28, 0.02) 100%), linear-gradient(50deg, rgba(157, 157, 157, 0.02) 0%, rgba(157, 157, 157, 0.02) 16.667%, rgba(147, 147, 147, 0.02) 16.667%, rgba(147, 147, 147, 0.02) 33.334%, rgba(42, 42, 42, 0.02) 33.334%, rgba(42, 42, 42, 0.02) 50.001000000000005%, rgba(214, 214, 214, 0.02) 50.001%, rgba(214, 214, 214, 0.02) 66.668%, rgba(34, 34, 34, 0.02) 66.668%, rgba(34, 34, 34, 0.02) 83.33500000000001%, rgba(211, 211, 211, 0.02) 83.335%, rgba(211, 211, 211, 0.02) 100.002%), linear-gradient(278deg, rgba(79, 79, 79, 0.03) 0%, rgba(79, 79, 79, 0.03) 20%, rgba(217, 217, 217, 0.03) 20%, rgba(217, 217, 217, 0.03) 40%, rgba(5, 5, 5, 0.03) 40%, rgba(5, 5, 5, 0.03) 60%, rgba(200, 200, 200, 0.03) 60%, rgba(200, 200, 200, 0.03) 80%, rgba(125, 125, 125, 0.03) 80%, rgba(125, 125, 125, 0.03) 100%), linear-gradient(274deg, rgba(235, 235, 235, 0.03) 0%, rgba(235, 235, 235, 0.03) 12.5%, rgba(100, 100, 100, 0.03) 12.5%, rgba(100, 100, 100, 0.03) 25%, rgba(44, 44, 44, 0.03) 25%, rgba(44, 44, 44, 0.03) 37.5%, rgba(228, 228, 228, 0.03) 37.5%, rgba(228, 228, 228, 0.03) 50%, rgba(36, 36, 36, 0.03) 50%, rgba(36, 36, 36, 0.03) 62.5%, rgba(72, 72, 72, 0.03) 62.5%, rgba(72, 72, 72, 0.03) 75%, rgba(30, 30, 30, 0.03) 75%, rgba(30, 30, 30, 0.03) 87.5%, rgba(109, 109, 109, 0.03) 87.5%, rgba(109, 109, 109, 0.03) 100%), linear-gradient(90deg, hsl(28, 0%, 14%), hsl(28, 0%, 14%));
		}
	</style>

	<div class="example-wrapper">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" src="{{ slider ? slider.getSld : 'https://via.placeholder.com/1080x500' }}" alt="First slide">
					
					{% if (app.user) %}
					{% if (not app.user.dateSub()) %}
					<a href="/vip">
						<button style="padding: 15px; margin-top: -250px; margin-left: 42%; margin-right: auto; width: 15%; background-color: white; color: green" type="button" class="btn btn-success">S'inscrire</button>
					</a>
					{% endif %}
					{% else %}
					<a href="/vip">
						<button style="padding: 15px; margin-top: -250px; margin-left: 42%; margin-right: auto; width: 15%; background-color: white; color: green" type="button" class="btn btn-success">S'inscrire</button>
					</a>

					{% endif %}

				</div>

				{# <div class="carousel-item">
					<img class="d-block w-100" src="https://via.placeholder.com/1080x500" alt="First slide">
					<a href="/vip">
						<button style="padding: 15px; margin-top: -250px; margin-left: 42%; margin-right: auto; width: 15%" type="button" class="btn btn-outline-success">S'inscrire</button>
					</a>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="https://via.placeholder.com/1080x500" alt="First slide">
					<a href="/vip">
						<button style="padding: 15px; margin-top: -250px; margin-left: 42%; margin-right: auto; width: 15%" type="button" class="btn btn-outline-success">S'inscrire</button>
					</a>
				</div> #}
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<div class="center-con">
			<div style="background-color: black" class="round">
				<div id="cta">
					<span class="arrow primera next "></span>
					<span class="arrow segunda next "></span>
				</div>
			</div>
		</div>
	</div>


	<div style="margin-top: 50px">
		{% set var = 0 %}
		{% for message in app.flashes('message') %}
			{% if (var == 0) %}
			<div class="alert alert-success container" role="alert">
				{{ message }}
			</div>
			{% endif %}
			{% set var = 1 %}
		{% endfor %}
		<h2 id="prono" style="text-align: center;">Derniers Pronostics</h2>
	</div>

	<div style="background-color: white; border-radius: 10px; margin-bottom: 30px; padding: 0px;" class="container">
		<div style="padding: 0px; margin-top: 50px">
			<ul class="list-group">
				{% for prono in pronos[0:5] %}

					<li class="list-group-item list-group-item-action" style="padding: 0">
						<div style="width: 50% ; top:0; padding: 0; width: 100%;">
							<p style="float: right; margin: 0; color:black; right: 0; padding: 5px; margin-right: 15px">
								{{ prono.getDate().format('Y-m-d H:i:s') }}
								-
								{{ prono.getLigue() }}
							</p>

							<p style="left: 0; margin: 0; background: black; color:white; width: 60px; padding: 5px">
								{{ prono.getType() }}
							</p>

							<div style="width: 50%; top: 0; margin-top: -20px; margin-left: 28%" class="progress">
								<div placeholder="plpl" class="progress-bar" role="progressbar" style="width: {{ prono.getConfiance }}%" aria-valuenow="{{ prono.getConfiance }}" aria-valuemin="0" aria-valuemax="100">Indice de confience</div>
							</div>

						</div>

						<h4 style="font-size: 20px; padding: 20px">{{ prono.getEquip1 }}
							-
							{{ prono.getEquip2 }}</h4>
						<p style="font-size: 15px; padding: 10px; color: black; font-weight: bold;">Notre prono</p>
						<p style="font-size: 15px; padding: 0 10px; margin-top: -20px; color: black">
							<strong>{{ prono.getEquip1 }}</strong>
						</p>


					</li>
				{% endfor %}
				
			</ul>

		</div>

	</div>

	<a href="/pronos">
		<button style="margin-left: 42%; margin-right: auto; width: 15%; margin-top: 0px; margin-bottom: 50px" type="button" class="btn btn-success">En voir +</button>
	</a>


		{% if ( not app.user or not app.user.dateSub()) %}

	<section class="section-plans" id="section-plans">
		<div class="u-center-text u-margin-bottom-big">
			<h2 class="heading-secondary">
				Accès aux Pronostics
			</h2>
		</div>

		<div class="row">

			{% for vip in sub %}

			{% if vip.id <= 4 %}

			<div class="col-1-of-3">
				<div class="cardVip">
					<div class="card__side card__side--front-1">
						<div class="card__title card__title--1">
							<i class="{{ vip.logo }}"></i>
							<h4 class="card__heading mt-4">{{ vip.title }}</h4>
						</div>

						<div class="card__details">
							<ul>
								{% for opt in vip.list %}
								<li>{{ opt }}</li>

								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="card__side card__side--back card__side--back-1">
						<div class="card__cta">
							<div class="card__price-box">
								<p class="card__price-only">Only</p>
								<p class="card__price-value">{{ vip.price }} €</p>
							</div>
							{# <a href="#popup" class="btn btn--white">Select</a> #}
						</div>
					</div>
				</div>
			</div>

				{% endif %}
			{% endfor %}

		</div>

		<div class="u-center-text u-margin-top-huge">
			<a href="/vip" class="btn btn--green">Voir toutes les offres VIP</a>
		</div>
	</section>

	{% endif %}


{% endblock %}
