{% extends 'baseDash.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;

		}
	</style>

	<div class="example-wrapper">
		{% for message in app.flashes('remove') %}
			<div class="p-3 my-2 rounded-2 success">
				{{ message }}
			</div>
		{% endfor %}
		<h1 style="text-align:center">List des users ! ✅</h1>

		<div style="background-color: white; margin-top: 50px;" class="responsive-table">
			<table class="table bordered">
				<thead>
					<tr>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Email</th>
						{# <th>Date</th> #}
						<th>Roles</th>
						<th>Action(s)</th>
						<th>
							{# <a href="{{ path('user_add') }}">
								<button style="height: 40px; font-size: 15px; margin:0" class="btn shadow-1 rounded-1 outline txt-blue">
									<span class="outline-text">Ajouter</span>
								</button>
							</a> #}
						</th>

					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.getFirstname}}</td>
							<td>{{ user.getLastname }}</td>
							<td>{{ user.getEmail }}</td>
							{# <td>{{ user.getUpdatedAt() }}</td> #}
							<td>
								{% for role in user.getRoles() %}
									{% if role != "ROLE_USER" %}
									{{ role }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{# <form method="POST" action="{{ path('user_delete', { id: user.id }) }}">
									<button class="btn shadow-1 primary rounded-4">Supprimer</button>
								</form> #}
							</td>
							<td>
								{# <a href="{{ path('user_edit', { id: user.id }) }}">
									<button class="btn shadow-1 primary rounded-4">Modifer</button>
								</a> #}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>


	</div>
{% endblock %}
