{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		html {
			font-size: 70.5%;
		}

		nav {
			background-color: white
		}
	</style>
	<section class="section-plans" id="section-plans">
		<div class="back" style="margin-bottom: -35px">
			<img style="height: 35px; margin: 0px 55px; " class="img-fluid" src="{{ asset('image/icons/back.png') }}">
		</div>

		<div style="" class="u-center-text u-margin-bottom-big">
			<h2 class="heading-secondary">
				Accès aux Pronostics
			</h2>
		</div>

		<div class="row">
			{% set index = 1 %}
			{% for vip in sub %}

			{% if index <= 8 %}
			<div class="col-1-of-3 form{{ index }} mb-4">
				<div class="cardSelect">

					<div class="card__side card__side--front-{{ index }}-selected">
						<div class="card__cta">
							<div class="card__price-box">
								<p class="card__price-only">Only</p>
								<p class="card__price-value">{{ vip.price }} €</p>
							</div>
							<a href="#popup" class="btn btn--white select{{ index }}">Select</a>
						</div>
					</div>
				</div>
				<div class="cardVip">
					<div class="card__side card__side--front-{{ index }}">
						<div class="card__title card__title--{{ index}}">
							<i class="{{ vip.logo }}"></i>
							<h4 class="card__heading mt-4">{{ vip.title }}</h4>
						</div>

						<div class="card__details">
							<ul>
								{% for opt in vip.list %}
								<li>{{ opt }}</li>

								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="card__side card__side--back card__side--back-{{ index }}">
						<div class="card__cta">
							<div class="card__price-box">
								<p class="card__price-only">Only</p>
								<p class="card__price-value">{{ vip.price }} €</p>
							</div>
							<a href="#popup" class="btn btn--white select{{ index }}">Select</a>
						</div>
					</div>
				</div>
			</div>
				{% endif %}
				{% set index= index +1 %}

			{% endfor %}


			{% set index2 = 1 %}

			{% for vip in sub %}
			{% if index2 <= 8 %}
				
			<div class="pay{{ index2 > 1 ? index2 }} col-7">
				<div class="card__side card__side--front-{{ index2 }}">
					<div class="card__title card__title--{{ index2 }}">
						<i class="fas fa-rocket"></i>
						<h4 class="card__heading">{{ vip.title }}</h4>
					</div>

					<div class="card__details">
						<ul>
							{% for opt in vip.list %}
								<li>{{ opt }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			{% set index2 = index2 +1 %}

			{% endif %}

			{% endfor %}


		</div>

		{% set index3 = 1 %}
		{% for vip in sub %}
			{% if index3 <= 8 %}
				<input type="hidden" class="{{ vip.duree ? vip.duree : 1 }}" name="{{ vip.title }}" value="{{ vip.price }}" id="pay{{ index3 > 1 ? index3 }}">
				<div id="checkout-button" value="pay{{ index3 > 1 ? index3 }}" class="u-center-text u-margin-top-huge pay{{ index3 > 1 ? index3 }}">
					<a class="btn btn--green">Devenir VIP</a>
				</div>



			{% endif %}
			{% set index3 = index3 +1 %}

		{% endfor %}
	{# pay{{ vip.id > 1 ? vip.id }} #}


	</section>

{% endblock %}


{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


	<script type="text/javascript">
		var stripe = Stripe('pk_test_51Gty04FbyARdQqIBKtMQbX1Bd9KaPygRx3ub6xQRcIpbowjQZhisT3pGhpkpIuXeZsExIqUcdq3LWSWqWJ8EOEVE00allGaPNP');
      	var checkoutButtons = document.querySelectorAll('#checkout-button');


	checkoutButtons.forEach((checkoutButton) => {
      checkoutButton.addEventListener('click', function(e) {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.


		var price = $('#'+ checkoutButton.getAttribute('value')).val()
		var name = $('#'+ checkoutButton.getAttribute('value')).attr("name")
		var duree = $('#'+ checkoutButton.getAttribute('value')).attr("class")

		console.log(name)

		{% if not app.user %}
			document.location = "/login";
		{% endif %}
        fetch('/vip/create-checkout-session', {
			method: 'POST',
			headers: {'Content-Type': 'application/json'},
			body: JSON.stringify({ "price": price* 100, "name": name, "qty": duree}),
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });


	})


	
	
	</script>

	{% set indexSelect = 1 %}

	
	{% for vip in sub %}
		<script>
			$(function() {


	$(".select{{ indexSelect }}").click(function () {
	

		 for (var index = 1; index <= 8; index++) {
			if (index != {{indexSelect}}) {
				if (index == 1) {
					$(".form"+index).hide();
					$(".pay").hide();	
				} else {
					$(".form"+index).hide();
					$(".pay"+index).hide();
				}


			} else {
				if (index == 1) {
					$(".pay").show();
				} else {
					$(".pay"+index).show();

				}
			}


		}

		$(".back").show();
		$(".cardSelect").show();
		$(".cardVip").hide();

	});

	{% set indexSelect = indexSelect +1 %}


			});
		
		
		</script>

	{% endfor %}
	
	<script>

		$(function () {
	$(".pay").hide();
	$(".back").hide();
	$(".cardSelect").hide();
	$(".pay").hide();
	$(".pay2").hide();
	$(".pay3").hide();
	$(".pay4").hide();
	$(".pay5").hide();
	$(".pay6").hide();
	$(".pay7").hide();
	$(".pay8").hide();

	$(".back").click(function () {
		$(".form1").show();
		$(".form2").show();
		$(".form3").show();
		$(".form4").show();
		$(".form5").show();
		$(".form6").show();
		$(".form7").show();
		$(".form8").show();

		$(".cardSelect").hide();
		$(".cardVip").show();

		$(".pay").hide();
		$(".pay2").hide();
		$(".pay3").hide();
		$(".pay4").hide();
		$(".pay5").hide();
		$(".pay6").hide();
		$(".pay7").hide();
		$(".pay8").hide();

		$(".back").hide();

	});


});


	</script>


{% endblock %}
