{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		html {
			font-size: 70.5%;
		}

		nav {
			background-color: white
		}
	</style>
	<section class="section-plans" id="section-plans">
		<div class="back" style="margin-bottom: -35px">
			<img style="height: 35px; margin: 0px 55px; " class="img-fluid" src="{{ asset('image/icons/back.png') }}">
		</div>

		<div style="" class="u-center-text u-margin-bottom-big">
			<h2 class="heading-secondary">
				Accès aux Pronostics
			</h2>
		</div>

		<div class="row">
			{% for vip in sub %}

			{% if vip.id <= 8 %}
			<div class="col-1-of-3 form{{ vip.id }} mb-4">
				<div class="cardSelect">

					<div class="card__side card__side--front-{{ vip.id }}-selected">
						<div class="card__cta">
							<div class="card__price-box">
								<p class="card__price-only">Only</p>
								<p class="card__price-value">{{ vip.price }} €</p>
							</div>
							<a href="#popup" class="btn btn--white select{{ vip.id }}">Select</a>
						</div>
					</div>
				</div>
				<div class="cardVip">
					<div class="card__side card__side--front-{{ vip.id }}">
						<div class="card__title card__title--{{ vip.id }}">
							<i class="{{ vip.logo }}"></i>
							<h4 class="card__heading mt-4">{{ vip.title }}</h4>
						</div>

						<div class="card__details">
							<ul>
								{% for opt in vip.list %}
								<li>{{ opt }}</li>

								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="card__side card__side--back card__side--back-{{ vip.id }}">
						<div class="card__cta">
							<div class="card__price-box">
								<p class="card__price-only">Only</p>
								<p class="card__price-value">{{ vip.price }} €</p>
							</div>
							<a href="#popup" class="btn btn--white select{{ vip.id }}">Select</a>
						</div>
					</div>
				</div>
			</div>
				{% endif %}
			{% endfor %}



			{% for vip in sub %}
			{% if vip.id <= 8 %}
				
			<div class="pay{{ vip.id > 1 ? vip.id }} col-7">
				<div class="card__side card__side--front-{{ vip.id }}">
					<div class="card__title card__title--{{ vip.id }}">
						<i class="fas fa-rocket"></i>
						<h4 class="card__heading">{{ vip.title }}</h4>
					</div>

					<div class="card__details">
						<ul>
							{% for opt in vip.list %}
								<li>{{ opt }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			{% endif %}

			{% endfor %}


		</div>

		{% for vip in sub %}
			{% if vip.id <= 8 %}
				<input type="hidden" class="{{ vip.duree ? vip.duree : 1 }}" name="{{ vip.title }}" value="{{ vip.price }}" id="pay{{ vip.id > 1 ? vip.id }}">
				<div id="checkout-button" value="pay{{ vip.id > 1 ? vip.id }}" class="u-center-text u-margin-top-huge pay{{ vip.id > 1 ? vip.id }}">
					<a class="btn btn--green">Devenir VIP</a>
				</div>

			{% endif %}

		{% endfor %}
	{# pay{{ vip.id > 1 ? vip.id }} #}


	</section>

{% endblock %}


{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


	<script type="text/javascript">
		var stripe = Stripe('pk_test_51Gty04FbyARdQqIBKtMQbX1Bd9KaPygRx3ub6xQRcIpbowjQZhisT3pGhpkpIuXeZsExIqUcdq3LWSWqWJ8EOEVE00allGaPNP');
      	var checkoutButtons = document.querySelectorAll('#checkout-button');


	checkoutButtons.forEach((checkoutButton) => {
      checkoutButton.addEventListener('click', function(e) {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.


		var price = $('#'+ checkoutButton.getAttribute('value')).val()
		var name = $('#'+ checkoutButton.getAttribute('value')).attr("name")
		var duree = $('#'+ checkoutButton.getAttribute('value')).attr("class")

		console.log(name)

		{% if not app.user %}
			document.location = "/login";
		{% endif %}
        fetch('/vip/create-checkout-session', {
			method: 'POST',
			headers: {'Content-Type': 'application/json'},
			body: JSON.stringify({ "price": price* 100, "name": name, "qty": duree}),
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });


	})


	
	
	</script>


	
	{% for vip in sub %}
		<script>
			$(function() {
		let index = 1;

	$(".select{{ vip.id }}").click(function () {

		 for (var index = 1; index <= 8; index++) {
			if (index != {{ vip.id }}) {
				if (index == 1) {
					$(".form"+index).hide();
					$(".pay").hide();	
				} else {
					$(".form"+index).hide();
					$(".pay"+index).hide();
				}


			} else {
				if (index == 1) {
					$(".pay").show();
				} else {
					$(".pay"+index).show();

				}
			}

		}

		$(".back").show();
		$(".cardSelect").show();
		$(".cardVip").hide();

	});



			});
		
		
		</script>


	{% endfor %}
	
	<script>

		$(function () {
	$(".pay").hide();
	$(".back").hide();
	$(".cardSelect").hide();
	$(".pay").hide();
	$(".pay2").hide();
	$(".pay3").hide();
	$(".pay4").hide();
	$(".pay5").hide();
	$(".pay6").hide();
	$(".pay7").hide();
	$(".pay8").hide();

	$(".back").click(function () {
		$(".form1").show();
		$(".form2").show();
		$(".form3").show();
		$(".form4").show();
		$(".form5").show();
		$(".form6").show();
		$(".form7").show();
		$(".form8").show();

		$(".cardSelect").hide();
		$(".cardVip").show();

		$(".pay").hide();
		$(".pay2").hide();
		$(".pay3").hide();
		$(".pay4").hide();
		$(".pay5").hide();
		$(".pay6").hide();
		$(".pay7").hide();
		$(".pay8").hide();

		$(".back").hide();

	});


});


	</script>


{% endblock %}
